<footer class="footerSection">
  <p>
    Built From Scratch By the owner of the website © Copyright 2024,
    <span class="highlight"
      ><a href="#">https://github.com/SergeantMahdi</a></span
    >. All Rights Reserved.
  </p>
</footer>
