<footer class="footerSection">
    <p>
        Built From Scratch By the owner of the website © Copyright 2024, <span class="highlight"><a
                href="#">MahdiSartipzadeh.com</a></span>. All Rights Reserved.
    </p>
</footer>
