<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mahdi Sartipzadeh</title>
    <!--GLobal Style sheet-->
    <link rel="stylesheet" href="stylesheets/global/reset.css">
    <link rel="stylesheet" href="stylesheets/global/component.css">
    <link rel="stylesheet" href="stylesheets/global/navbar.css">
    <link rel="stylesheet" href="stylesheets/global/footer.css">

</head>

<body>
    <%-include('navbar')%>
        <main>
            <%-body-%>
        </main>
        <script src="scripts/global/navbar.js"></script>
        <script defer src="scripts/animations/scrollanimation.js"></script>
    <%-include('footer')%>
</body>


</html>