.background-section{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.background-text{
    width: 40%;
    height: fit-content;
}
.background-text .title{
    margin-bottom: 40px;
}

