.background-section {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.background-text {
    width: 40%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.background-text .title {
    margin-bottom: 40px;
}

.skillSection {
    width: 100%;
    height: fit-content;
    margin-top: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    background-image: url('../../../images/bgbackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.skillSection .wrapper {
    margin-top: 60px;
    width: 80%;
}

.progress {
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.skills {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.detail-box {
    margin-left: 20px;
    width: 50%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #0000007e;
    border-radius: 50px;
}

.detail {
    width: 60%;
    text-align: center;
}

.detail .text {
    font-size: 1rem;
}


.goalSection {
    margin-top: 100px;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.goal-containet {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.goalSection img {
    width: 500px;
}

.goal-containet .text {
    width: 40%;
}

.current-goal {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.current-goal .text {
    width: 35%;
}

.current-goal .images {
    display: flex;
    align-items: center;
    justify-content: center;
}

.last-goal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.last-goal img {
    width: 500px;
    border-radius: 50%;
    margin: 50px;
}

.astronaut-waver {
    width: 300px;
    height: 300px;
    animation: floatUp 3s alternate infinite ease-in-out;

}


@keyframes floatUp {

    0% {
        transform: translateY(0) rotate(-10deg)
    }

    100% {
        transform: translateY(30px) rotate(10deg)
    }
}


.hobbySection {
    margin-top: 100px;
    width: 80%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.hobbySection .hobbies {
    display: flex;
    flex-direction: column;
}

.hobbySection .hobbies .text {
    width: 40%;

}
.reading{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Book*/
.reading .card{
    width: 200px;
    height: 320px;
    background-color: #e3e3e3;
    box-shadow: 5px 0 10px rgba(193, 75, 9, 1),
    inset 300px 0 50px rgba(0,0,0,0.5);
    position: relative;
    border-radius: 10px;
    transform: perspective(2000px);
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
.reading .card:hover{
    box-shadow: 5px 0 10px rgba(193, 75, 9, 1),
    inset 20px 0 50px rgba(0,0,0,0.5);
}
.reading .card .cover{
    position: absolute;
    border-radius: 10px;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
}

.reading .card:hover  .cover{
    transform: rotateY(-135deg);
}
.reading .card .back{
display: none;
}
.book-text {
    font-size: 1rem;
    color: #000;
    width: 200px;
    font-weight: 600;
    user-select: none;
    text-align: center;
}
.reading .book-text .bold{
    color: #000;
    font-size: 1.1rem;
}
.rocket{
    width: 90%;
    z-index: -1;
}
.spaceship {
    offset-path: path('M109.5,53.5c71.9-30,134.7-38.6,176-41c18.8-1.1,109.9-5.5,217,34c56,20.6,110.7,41.7,125,90c1,3.5,9.2,32.7-4,61c-39.9,85.6-247.4,103.6-304,27c-27.8-37.7-0.3-72.6-29-107c-49.9-59.8-210.7-46.8-246,22c-37,72.1,66.1,200.9,168,262c136.5,81.8,340.8,84,379,6c34.9-71.4-60.5-228.1-169-245c-113.8-17.7-182.3,127.9-306,97c-39.2-9.8-92.6-39.5-99-86C11.5,130,48,79.8,109.5,53.5z');
    animation: move 20s infinite normal ease-in-out;
    width: 100px;
    position: absolute;
    }

    @keyframes move {
        0% {
            offset-distance: 0%;
        }

        100% {
            offset-distance: 100%;
        }
    }


    @media (max-width: 1100px) {
        .text {
            font-size: 1.2rem;
        }

        .detail-box {
            display: none;
        }

        .skillSection {
            align-items: center;
        }

        .skills {
            width: 100%;
        }

        .title {
            font-size: 2rem;
        }

        .goalSection img {
            width: 400px;
        }

        .current-goal .images img {
            display: none;
        }
    }

    @media (max-width: 800px) {
        .background-section {
            width: 100%;
            display: flex;
            justify-content: center;

        }

        .background-text {
            width: 90%;
            height: fit-content;
            justify-content: center;
            align-items: center;
        }

        .background-text .title {
            margin-bottom: 40px;
        }

        .skillSection {
            height: fit-content;
        }

        .skillSection .wrapper {
            width: 100%;
        }

        .skills {
            grid-template-columns: 1fr 1fr;
        }

        .goal-containet {
            flex-direction: column;
        }

        .current-goal {
            flex-direction: column-reverse;
        }

        .goal-containet .text,
        .current-goal .text {
            width: 100%;
        }

        .goalSection img {
            width: 300px;
        }

        .current-goal .images {
            flex-direction: column-reverse;
        }
    }