.background-section {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.background-text {
    width: 40%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.background-text .title {
    margin-bottom: 40px;
}

.skillSection {
    width: 100%;
    height: fit-content;
    margin-top: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    background-image: url('../../../images/bgbackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.skillSection .wrapper {
    margin-top: 60px;
    width: 80%;
}

.progress {
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.skills {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.detail-box {
    margin-left: 20px;
    width: 50%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #0000007e;
    border-radius: 50px;
}

.detail {
    width: 60%;
    text-align: center;
}

.detail .text {
    font-size: 1rem;
}


.goalSection {
    margin-top: 100px;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.goal-containet {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.goalSection img {
    width: 500px;
}

.goal-containet .text {
    width: 40%;
}

.current-goal {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.current-goal .text {
    width: 35%;
}

.current-goal .images {
    display: flex;
    align-items: center;
    justify-content: center;
}

.last-goal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.last-goal img {
    width: 500px;
    border-radius: 50%;
    margin: 50px;
}

.astronaut-waver {
    width: 300px;
    height: 300px;
    animation: floatUp 3s alternate infinite ease-in-out;

}


@keyframes floatUp {

    0% {
        transform: translateY(0) rotate(-10deg)
    }

    100% {
        transform: translateY(30px) rotate(10deg)
    }
}


.hobbySection {
    margin-top: 100px;
    width: 80%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.hobbySection .hobbies {
    display: flex;
    flex-direction: column;
}

.hobbySection .hobbies .text {
    width: 40%;

}

.reading img {
    width: 100px;
}

.spaceship {
    offset-path: path('M335.3,68.5c0.4,0,0.9-0.1,1.3-0.1c239.5-4.6,304.8,26.1,313.3,59c4.8,18.7-77.7,29.5-97.5,32.5c-145.8,21.9-256.1,15.7-266.2,15c-0.5,0-1,0-1.6,0c-222.2,5.7-209.6,290.5-97.2,328c119.9,40,256.4,39.8,399.5-25.5c77.4-35.3,193.5-133.2,163.5-205.5c-36.6-88.1-255.6-108.9-312.5-49.5C387.6,275.1,673.5,307,475.5,433c-50,31.8-151.3-35.2-207-69c-35.7-21.6-208.7-58-201-102c17.2-97.6,175.5-57.8,171-104c-4.7-48.4-106.3-13.4-90-51C177.5,40,188.8,82.5,335.3,68.5z');
    animation: move 20s infinite normal ease-in-out;
    width: 100px;
    position: absolute;
    z-index: -1;

    }

    @keyframes move {
        0% {
            offset-distance: 0%;
        }

        100% {
            offset-distance: 100%;
        }
    }


    @media (max-width: 1100px) {
        .text {
            font-size: 1.2rem;
        }

        .detail-box {
            display: none;
        }

        .skillSection {
            align-items: center;
        }

        .skills {
            width: 100%;
        }

        .title {
            font-size: 2rem;
        }

        .goalSection img {
            width: 400px;
        }

        .current-goal .images img {
            display: none;
        }
    }

    @media (max-width: 800px) {
        .background-section {
            width: 100%;
            display: flex;
            justify-content: center;

        }

        .background-text {
            width: 90%;
            height: fit-content;
            justify-content: center;
            align-items: center;
        }

        .background-text .title {
            margin-bottom: 40px;
        }

        .skillSection {
            height: fit-content;
        }

        .skillSection .wrapper {
            width: 100%;
        }

        .skills {
            grid-template-columns: 1fr 1fr;
        }

        .goal-containet {
            flex-direction: column;
        }

        .current-goal {
            flex-direction: column-reverse;
        }

        .goal-containet .text,
        .current-goal .text {
            width: 100%;
        }

        .goalSection img {
            width: 300px;
        }

        .current-goal .images {
            flex-direction: column-reverse;
        }
    }