:root {
  --section-width: 80%;
  --section-margin: 100px;
  --secondary-color: #c14b09;
  --background-color: #000309;
  --transition-all: all 0.5s ease-in-out;

  --book-width: 200px;
  --book-height: 300px;

  --mobile-book-width: 150px;
  --mobile-book-height: 250px;
}

.background-section {
  width: var(--section-width);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.background-text {
  width: 40%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.background-text .title {
  margin-bottom: 40px;
}

/**************Skill Section***************/

.skillSection {
  width: 100%;
  height: fit-content;
  margin-top: var(--section-margin);
  color: white;
  display: flex;
  flex-direction: column;
  background-image: url("../images/bgbackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.skillSection .wrapper {
  margin-top: 60px;
  width: var(--section-width);
}

.progress {
  width: 100%;
  margin-top: var(--section-margin);
  display: flex;
  justify-content: center;
}

.skills {
  width: var(--section-width);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.detail-box {
  margin-left: 20px;
  width: 50%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.detail {
  width: 60%;
  text-align: center;
  background-color: #0000007e;
  border-radius: 50px;
  text-transform: capitalize;
}

.detail .text {
  font-size: 1rem;
}

/***************Goal section********************/
.goalSection {
  margin-top: 100px;
  width: var(--section-width);
  display: flex;
  flex-direction: column;
}

.goal-containet {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.goalSection img {
  width: 500px;
}

.goal-containet .text {
  width: 40%;
}

.current-goal {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.current-goal .text {
  width: 35%;
}

.current-goal .images {
  display: flex;
  align-items: center;
  justify-content: center;
}

.last-goal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.last-goal img {
  width: 500px;
  border-radius: 50%;
  margin: 50px;
}

.astronaut-waver {
  width: 300px;
  height: 300px;
  animation: floatUp 3s alternate infinite ease-in-out;
}

@keyframes floatUp {
  0% {
    transform: translateY(0) rotate(-10deg);
  }

  100% {
    transform: translateY(30px) rotate(10deg);
  }
}

/*******************Hobby Section*******************/
.hobbySection {
  margin-top: var(--section-margin);
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-image: url("../images/hobbybg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.reading-container {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: start;
}

.hobbySection .text {
  width: 40%;
}

.hobbySection .wrapper {
  width: var(--section-width);
}

/*---Spaceship on the background---*/

.spaceship-container {
  width: 100%;
  display: flex;
  justify-content: center;
  offset-path: path(
    "M753.5,130.5c182.2-68.3,362.8,54.3,408,85c74,50.3,162.2,110.2,153,171c-21.8,143.8-572.3,191.1-769,208c-329.6,28.3-492.8,3-531,90c-33.9,77.1,45.8,207.3,147,269c135.4,82.5,235.8-2.3,517,2c87.3,1.3,480.2,7.4,561,198c26.7,63,18,142.9-23,187c-76.5,82.3-272.2,46.6-367-56c-89-96.4-28-186-98-258c-149.1-153.3-553.9,120.2-660-2c-61.4-70.7-18-268.6,104-369c265.3-218.4,721.8,172.1,977-38c163.5-134.6,150.7-438.6,83-471c-78-37.3-222.7,288.8-493,290c-79.4,0.4-184.8-27.2-203-87C537.5,277.3,646.4,170.7,753.5,130.5z"
  );
  animation: move 25s infinite normal ease-in-out;
}

.spaceship {
  width: 100px;
  position: absolute;
}

@keyframes move {
  0% {
    offset-distance: 0%;
  }

  100% {
    offset-distance: 100%;
  }
}

.books {
  display: flex;
}

/*---book animation---*/
.book-container {
  width: 300px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book {
  width: var(--book-width);
  height: var(--book-height);
  transform-style: preserve-3d;
  transform: rotateY(-38deg);
  transition: 1s ease;
  position: relative;
  display: flex;
  align-items: center;
  perspective: 400px;
  animation: bookRotation 1s ease 0s 1;
}

.book img {
  width: var(--book-width);
  height: var(--book-height);
  box-shadow: 5px 5px 10px #000000;
  transform: translateZ(17.5px);
}

.book::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 300px;
  background: #fff;
  left: 0;
  transform: translateX(190px) rotateY(73deg);
}

.book::after {
  content: "";
  width: var(--book-width);
  height: var(--book-height);
  position: absolute;
  transform: translateZ(-15px);
  border-radius: 0 2px 2px 0;
  box-shadow: 0px 0 20px 10px #c14b09;
}

.book:hover,
.book:focus {
  transform: rotateY(0);
}

@keyframes bookRotation {
  0% {
    transform: rotateY(-38deg);
  }

  100% {
    transform: rotateY(5deg);
  }
}

.games-container {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: flex-start;
  align-items: flex-end;
}

.games-container .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/*---Card animation---*/
.game-card {
  width: 200px;
  height: 300px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  cursor: pointer;
  border: 30px;
  margin: 30px;
}

.cover-image {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.image-box {
  transition: var(--transition-all);
  position: absolute;
  width: 100%;
  z-index: -1;
  border-radius: 30px;
}

.game-card:hover .image-box {
  transform: perspective(500px) translateY(-5%) rotateX(25deg);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.game-card:hover .cover-image {
  opacity: 0.3;
}

.image-box::after,
.image-box::before {
  content: "";
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: var(--transition-all);
  position: absolute;
  border-radius: 30px;
  left: 0;
}

.image-box::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5),
    rgb(12, 13, 19) 97%
  );
}

.image-box::after {
  bottom: 0;
  opacity: 0;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5),
    rgb(12, 13, 19) 97%
  );
}

.game-card:hover .image-box::after,
.image-box::before {
  opacity: 1;
}

.character {
  width: 100%;
  height: fit-content;
  opacity: 0;
  transition: var(--transition-all);
  filter: drop-shadow(2px 2px 2px #000);
  position: absolute;
  z-index: -1;
  border-radius: 30px;
}

.game-card:hover .character {
  opacity: 1;
  transform: scale(2) translate3d(5%, -20%, 1px);
}

/*---podcast images---*/
.podcast-container {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: start;
}

.podcast-box {
  display: flex;
}

.podcast-box img {
  width: 300px;
  margin: 20px;
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  filter: d;
  border-radius: 40%;
  position: relative;
  transition: var(--transition-all);
  transform-style: preserve-3d;
}

.podcast-box img:hover {
  box-shadow: 0px 0 5px 5px var(--secondary-color);
  transform: scale(1.1);
}

@media (max-width: 1100px) {
  .text {
    font-size: 1.2rem;
  }

  .detail-box {
    display: none;
  }

  .skillSection {
    align-items: center;
  }

  .skills {
    width: 100%;
  }

  .title {
    font-size: 2rem;
  }

  .goalSection img {
    width: 400px;
  }

  .current-goal .images img {
    display: none;
  }

  .spaceship-container {
    display: none;
  }

  .hobbySection .text {
    align-self: center;
    justify-self: center;
  }
}

@media (max-width: 800px) {
  .background-section {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .background-text {
    width: 90%;
    height: fit-content;
    justify-content: center;
    align-items: center;
  }

  .background-text .title {
    margin-bottom: 40px;
  }

  .skillSection {
    height: fit-content;
  }

  .skillSection .wrapper {
    width: 90%;
  }

  .progress {
    align-items: center;
  }

  .skills {
    grid-template-columns: 1fr 1fr;
  }

  .goal-containet {
    flex-direction: column;
  }

  .current-goal {
    flex-direction: column-reverse;
  }

  .goal-containet .text,
  .current-goal .text {
    width: 100%;
  }

  .goalSection img {
    width: 300px;
  }

  .current-goal .images {
    flex-direction: column-reverse;
  }

  .reading-container {
    justify-content: center;
    align-items: center;
  }

  .book-container {
    width: var(--mobile-book-width);
    height: var(--mobile-book-height);
    margin: 20px;
  }

  .book {
    width: var(--mobile-book-width);
    height: var(--mobile-book-height);
    animation: none;
  }

  .book img {
    width: var(--mobile-book-width);
    height: var(--mobile-book-height);
  }

  .book::before {
    width: 20px;
    height: var(--mobile-book-height);
    transform: translateX(140px) rotateY(73deg);
  }

  .book::after {
    width: var(--mobile-book-width);
    height: var(--mobile-book-height);
  }

  .hobbySection .text {
    width: 100%;
  }

  .game-card {
    width: 95px;
    height: 195px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
    border: 30px;
    margin: 5px;
  }

  .book,
  .spaceship-container {
    animation: none;
    transition: none;
  }

  .games-container {
    flex-direction: column;
    align-items: center;
  }

  .game-card:hover .image-box {
    transform: none;
    box-shadow: none;
  }

  .game-card:hover .cover-image {
    opacity: none;
  }

  .game-card:hover .character {
    opacity: 0;
    transform: none;
  }

  .game-card:hover .image-box::after,
  .image-box::before {
    opacity: none;
  }

  .game-card:hover .cover-image {
    opacity: 1;
  }

  .podcast-box img:hover {
    box-shadow: none;
    transform: none;
  }

  .podcast-box {
    align-items: center;
    justify-content: center;
  }

  .podcast-box img {
    margin: 0px;
    margin-bottom: 30px;
    border-radius: 50%;
  }

  .podcast {
    margin-right: 20px;
  }
}
