:root {
  --secondary-color: rgb(193, 75, 9);
  --shadow-color: rgb(0, 0, 0);
}

/*---------------Hero Section---------------*/
.hero {
  width: 100%;
  height: 100vh;
  background-image: url("../images/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.main-hero-text {
  width: 34rem;
  height: 8rem;
  font-size: 3rem;
  text-align: left;
  margin-right: 4em;
  text-shadow: var(--shadow-color) 10px 0 10px;
  z-index: 1;
}

.secondary-hero-text {
  width: 30rem;
  height: 10rem;
  font-weight: 300;
  font-size: 2rem;
  margin-left: 10em;
  margin-top: 1em;
  text-align: left;
  text-shadow: var(--shadow-color) 10px 0 10px;
  z-index: 1;
}

.characterAnimation {
  width: 90%;
  height: 80%;
  position: absolute;
  overflow: hidden;
}

.characterAnimation div {
  display: inline-block;
  position: absolute;
  animation-name: makeRandText;
  animation-timing-function: linear;
  animation-duration: 3s;
  font-size: 1.3rem;
  filter: blur(3px);
  user-select: none;
}

/*---------------Skill Overview Section---------------*/

.skillOverview {
  width: 100%;
  height: fit-content;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.images {
  width: 50%;
  display: flex;
  justify-content: right;
}

.overview-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  font-weight: 300;
}

.overview-description {
  height: fit-content;
  margin-top: 40px;
}

.overview-text .highlight {
  transition: all 0.5s ease-in-out;
}

.astronaut {
  width: 480px;
  height: 800px;
}

.skills {
  width: 40%;
  height: fit-content;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills svg {
  width: 70px;
  height: 70px;
  position: relative;
  margin-top: 30px;
}

.mongo-logo {
  top: 10px;
  right: 20%;
  transition: all 0.5s ease-in-out;
}

.js-logo {
  left: 30%;
  bottom: 10px;
  transition: all 0.5s ease-in-out;
}

.react-logo {
  right: 20%;
  bottom: 5px;
  transition: all 0.5s ease-in-out;
}

.cpp-logo {
  left: 30%;
  transition: all 0.5s ease-in-out;
}

.html-logo {
  top: 10px;
  right: 5%;
  transition: all 0.5s ease-in-out;
}

.css-logo {
  right: 50%;
  transition: all 0.5s ease-in-out;
}

.express-logo {
  background-color: #f0db4f;
  padding: 5px;
  transition: all 0.5s ease-in-out;
}

/*---------------Mobile screen---------------*/

@media (max-width: 932px) {
  .images {
    display: none;
  }

  .overview-text {
    margin: 0 20px;
    width: 100%;
    align-items: center;
  }

  .overview-text .text {
    font-size: 1.2rem;
  }

  .skillOverview {
    height: fit-content;
  }
}

@media (max-width: 800px) {
  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-hero-text {
    width: 80%;
    height: 16rem;
    font-size: 2.5rem;
    margin-right: 0;
  }

  .secondary-hero-text {
    width: 80%;
    font-size: 1.5rem;
    margin-left: 0;
    margin-top: 0;
  }
}

/*---------------KeyFrames---------------*/

@keyframes makeRandText {
  0% {
    color: rgba(255, 255, 255, 0);
  }

  50% {
    color: rgba(255, 255, 255, 1);
  }

  100% {
    color: rgba(255, 255, 255, 0);
  }
}
