:root{
    --navbar-color: linear-gradient(180deg, rgb(4, 4, 4) 70%, rgba(4,4,4, 0.6) 90%,  rgba(4,4,4, 0.4) 95%, rgba(4,4,4,0) 100% );
    --button-color: rgb(193, 75, 9);
    --text-color: rgb(255, 255, 255);
}

.navbar{
    background: var(--navbar-color) ;
    color: var(--text-color);
    font-weight: 900;
    text-align: center;
    width: 100%;
    height: 110px;
    padding: 5px;
    display: flex;
    z-index: 999;
    position: fixed;
    margin-top: -110px;
}

#nav-logo{
    width: 100px;
    height: 100px;
    margin-left: 30px;
}

/*ul container*/
.nav-container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*li items*/
.nav-item{
    width: 140px;
    margin: 20px;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.nav-item:nth-child(1){
margin-left: auto;
}
/*---------Contact Button-----------*/
.nav-item:nth-last-child(1){
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: 30px;
    font-weight: 900;
    padding: 0.5rem 1.3rem;
    border: 2px solid var(--button-color);
    border-radius: 30px;
}
.nav-item:nth-last-child(1):hover{
    background-color: var(--button-color);
    transition:ease-in-out 0.5s ;
}
.nav-item:hover:not(:last-child){
    color: var(--button-color);
    box-shadow: 0px 3px 0px rgb(193, 75, 9) , 0 0 20px rgb(186, 84, 25), 0 0 30px rgb(182, 100, 53);
    border-radius: 30px;
    border-bottom: var(--button-color) 20px;
    transition: 0.5s;
}

/*-------------------------------------------*/
/*-----------------Burger-nav----------------*/
.burger{
    display: none;
}

/*-----------Mobile Orientation--------------*/
@media (max-width: 1000px) and (orientation: landscape){
    .navbar{
       height: 70px;
        overflow-y:scroll;
        overflow-x: hidden ;
    }

    #nav-logo{
        width: 65px;
        height: 65px;
    }
    .nav-container{
        height: 120%;
    
    }
}

@media (max-width: 800px){
    .burger{
        display: flex;
        position: fixed;
        justify-content: center;
        top: 3%;
        right: 0;
        z-index:200;
        background: none;
        border: none;  
        margin-right: 30px;
      
    }
    .burger svg{
        width: 60px;
        height: 60px;
    }

.navbar{
    flex-wrap: wrap;
    height: 110px;
    position: fixed

}

#nav-logo{
margin-left: 5px;

}

.nav-container
{
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/*li items*/
.nav-item{
    width: 100%;
    font-size: 1.5rem;
    padding: 25px 0;
    text-align: center;

}
.nav-item:nth-child(1){
    margin-right: 0;

    }
    
    .nav-item:nth-last-child(1){
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        border:none;
        border-radius: 0;
        padding: 20px;
        background-color: var(--button-color);
    }

    .nav-item:nth-last-child(1):hover{
        transition: none ;
        background-color: none;
    }
    /*Contact link*/
    .nav-item:hover:not(:last-child){
        color: var(--text-color);
        box-shadow: none;
        border-radius: 30px;
        border-bottom:none;
        transition:0;
    }
}

