:root {
    --form-background-color: rgb(9, 10, 10);
    --input-color: rgb(177, 177, 177);
    --text-color: rgb(255, 255, 255);
    --radio-color: #c14b09;
    --delete-btn: #ff0505b9;

}

.main{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.main .title{
    margin: 20px;
}

.main .btn{
    border: 2px solid #1ebe21;
}
.main .btn:hover {
    background-color: #1ebe21;
}
.section{
    background: var(--form-background-color);
    width: 40%;
    margin: 20px;
    box-shadow: 0 0 15px #c14b09;
}
.section h3{
    margin-left: 20px;
}


.section .form{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.section .form > *{
    margin: 20px 0;
}

.section .form input, textarea{
background-color: var(--input-color);
color: rgb(0, 3, 9);
width: 90%;
border-radius: 10px;
padding: 10px 5px;
}

.section .form textarea{
    height: 100px;
}

.section .form label{
    height: fit-content;
    cursor: pointer;
}

.section .form .btn{
    width: 130px;
    height: 40px;
    padding: auto auto;
    text-align: center;
    cursor: pointer;
}
.section .form #projectId, #skillId, #skill-delete-Id, #project-delete-Id{
    display: none;
}

.section .form #percentage{
    width: 100px;
}
.section .projectSelection, .skillSelection{
    margin: 20px;
    display: flex;
}

.section .projectSelection .projectContainer, .skillSelection .skillContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 10px;
}
.section .projectSelection .selection, .skillSelection .selection{
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}
.section .projectSelection .selection:checked, .skillSelection .selection:checked{
    background-color: var(--radio-color);
}

.form .delete-btn {
    width: 130px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    border: 2px solid var(--delete-btn);
    border-radius: 30px;
    transition: 0.5s ease-in-out;
}
.form .delete-btn:hover {
    background-color: var(--delete-btn);
}

