:root {
    --form-background-color: rgb(9, 10, 10);
    --input-color: rgb(177, 177, 177);
    --text-color: rgb(255, 255, 255);
    --delete-btn: #ff0505b9;

}
.section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wrapper{
    background: var(--form-background-color);
    width: 30%;
    margin: 20px;
    box-shadow: 0 0 15px #c14b09;
}
.wrapper .title{
    margin: 50px 30px;
}

.wrapper.form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .btn{
    border: 2px solid #1ebe21;
}
.wrapper .btn:hover {
    background-color: #1ebe21;
}

.wrapper .form > *{
    margin: 50px 30px;
}

.wrapper .form input, textarea{
background-color: var(--input-color);
color: rgb(0, 3, 9);
width: 90%;
border-radius: 10px;
padding: 10px 5px;
}

.wrapper .form textarea{
    height: 100px;
}

.wrapper .form label{
    height: fit-content;
    cursor: pointer;
}

.wrapper .form .btn{
    width: 130px;
    height: 40px;
    padding: auto auto;
    text-align: center;
    cursor: pointer;
}