.hero{
    width: 100%;
    height: 85vh;
    background-image: url("../../../images/Background.png");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.main-hero-text{
    width: 34rem;
    height: 8rem;
    font-size: 3rem;
    text-align: left;
    margin-right:4em;
    text-shadow: rgb(0, 0, 0) 10px 0 10px;
    z-index: 1;
}
.secondary-hero-text{
    width: 30rem;
    height: 10rem;
    font-weight: 300;
    font-size: 2rem;
    margin-left:10em;
    margin-top: 1em;
    text-align: left;
    text-shadow: rgb(0, 0, 0) 10px 0 10px;
    z-index: 1;

}


/*Animations*/
.characterAnimation{
    width: 90%;
    height: 80%;
    position: absolute;
    overflow: hidden;
}
.characterAnimation div{

    display: inline-block;
    position:absolute;
    animation-name: makeRandText;
    animation-timing-function:linear;
    animation-duration: 3s;
    font-size: 1.3rem;
    filter: blur(2.3px);
    user-select: none;
}
/*.characterAnimation{
    display: flex;
    justify-content: center;
    align-items: center;
}*/
/*.characterAnimation div{
    offset-path: path("m50,0 a50,50,0,0,0,0,100 a-50,-50,0,0,0,0,-100");
    offset-position: left top bottom right;
    width: 50%;
    height: 30%;
    right: 30px;
    bottom: 30px;
    display: flex;
    position: absolute;
    animation: move 3000ms infinite alternate ease-in-out;
    animation-duration: 3s;
    font-size: 1.3rem;
    filter: blur(2.3px);
}*/

/*Mobile screen*/
@media (max-width:  800px){
    .main-hero-text{
        width: 80%;
        height: 10rem;
        font-size: 2.5rem;
        margin-right:0;
    }
    .secondary-hero-text{
        width: 80%;
        font-size: 1.5rem;
        margin-left:0;
        margin-top: 0;
    
    }
    
}

/*KeyFrames*/

/*@keyframes move {
    0%,
    20% {
      offset-distance: 0%;
    }
    80%,
    100% {
      offset-distance: 100%;
    }
}*/

@keyframes makeRandText{
    0%{
        color: rgba(255,255,255,0);

    }
    50%{
        color: rgba(255,255,255,1);
  
    }

    100%{
        color: rgba(255,255,255,0);
  
    }
}