<% layout("partials/template") %>
<link rel="stylesheet" href="stylesheets/pages/404/404style.css">
<section class="section">
    <div class="sparks">
    </div>
    <h1 class="title">I'm sorry, in this universe we don't have such a planet</h1>
</section>

<script src="scripts/animations/sparks.js"></script>