<% layout("partials/template") %>

	<link rel="stylesheet" href="stylesheets/pages/about/about.css">
	<link rel="stylesheet" href="stylesheets/pages/about/astronaut.css">
	<link rel="stylesheet" href="stylesheets/pages/about/progressbar.css">


	<section class="background-section wrapper">
		<div class="background-text hidden left-right">
			<h2 class="title">My Background</h2>
			<p class="text">
				I'm Mahdi, a 23-year-old self-taught programmer who discovered his passion for coding in
				2021. My journey began with <span class="highlight">C++</span>, and I fell in love with its
				complexity. However, my hunger
				for knowledge led me to explore both <span class="highlight">Front-End</span> and <span
					class="highlight">Back-End</span> development, aspiring to become a
				full-stack web developer.
			</p>
		</div>
		<div class="image hidden right-left">	
		</div>
	</section>
	<section class="skillSection wrapper ">
		<div class="wrapper hidden left-right">
			<h2 class="title">My Skills</h2>
			<div class="progress">
				<div class="skills">
				</div>
				<article class="detail-box">
					<p class="detail text">
						Click on one of the skills to see more detail
					</p>
				</article>
			</div>
		</div>
	</section>
	<section class="goalSection wrapper">
		<h2 class="title">My Goals</h2>
		<div class="goal-containet hidden right-left">
			<img src="../../images/firstGoal.png" alt="planet" draggable="false">
			<p class="text">
				My journey started by learning <span class="highlight">C++</span> which served me well to understand
				the core concept of programming. After making a few cmd based application I came across with <span
					class="highlight">QT</span>
				that led me to learn more about <span class="highlight">Front-End Application Development</span>

			</p>
		</div>
		<div class="current-goal hidden left-right">
			<p class="text">
				After a year working with C++, I found an ambition to learn <span class="highlight">Web
					Development</span>,
				that helped me to dig in the world of programming even more, comprehending complex concept of coding
				that
				I couldn't understand in C++.
				acquiring the knowledge of web development started by <span class="highlight">Front-End
					Development</span>
				and it continued to <span class="highlight">Back-End Development</span>.
			</p>
			<div class="images">
				<svg class="astronaut-waver" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600 600"
					enable-background="new 0 0 600 600" xml:space="preserve">
					<image class="body" overflow="visible" enable-background="new" width="345" height="514"
						xlink:href="../../images/body.png" transform="matrix(0.7782 0 0 0.7782 182.696 95.5479)">
					</image>
					<image class="hand" overflow="visible" enable-background="new" width="72" height="167"
						xlink:href="../../images/hand.png" transform="matrix(1 0 0 1 173.3147 108.0388)">
					</image>
				</svg>
				<img src="../../images/currentGoal.png" alt="planet" draggable="false">
			</div>
		</div>
		<div class="goal-containet hidden right-left">
			<img src="../../images/FutureGoal.png" alt="planet" draggable="false">
			<p class="text">
				Now after grasping all the knowledge that I needed, it's time to fuel my childhood dream,
				entering into the game industry, my vision will have been completed by becoming proficient in
				<span class="highlight">Unreal Engine</span> in order to make a digital world that I always dream about.
				My team and I have always aimed to change the game industry to create a better experience for gamers.
			</p>
		</div>
		<div class="last-goal hidden pop-up">
			<img src="../../images/Legacy.jpg" alt="legacy" draggable="false">
			<p class="text">
				-<span class="highlight">THIS IS NOT THE END</span>-
			</p>
		</div>
	</section>
	<section class="hobbySection wrapper">
		<div class="spaceship-container">
			<img class="spaceship" src="../../images/spaceship.png" alt="rocket">
		</div>
		<div class="hobbies">
			<div class="wrapper">
				<h2 class="title">My Hobbies</h2>
				<div class="reading-container hidden right-left">
					<div class="books">
						<div class="book-container">
							<div class="book">
								<img class="book-cover" src="../../images/BookCover.png" alt="book" draggable="false">
							</div>
						</div>
						<div class="book-container">
							<div class="book">
								<img class="book-cover" src="../../images/book2.png" alt="book" draggable="false">
							</div>
						</div>
					</div>
					<p class="text">
						reading books gives me an extra knowledge in order to make my life much better
						and improve my weaknesses.
						The books that I really love are <br>
						<span class="highlight">Your Next Five Moves</span> by Patrick Bet-David <br>
						<span class="highlight">The Compound Effect</span> by Darren Hardy<br>
						<span class="highlight">The Laws of Human Nature</span> by Robbert Greene
					</p>
				</div>
				<div class="games-container hidden left-right">
					<div class="cards">
						<div class="game-card">
							<div class="image-box">
								<img class="cover-image" src="../../images/witcher.png" alt="The Witcher 3">
							</div>
							<img class="character" src="../../images/witcher-nobg.png" alt="The Witcher 3">
						</div>
						<div class="game-card">
							<div class="image-box">
								<img class="cover-image" src="../../images/cyberpunk.png" alt="Cyberpunk 2077">
							</div>
							<img class="character" src="../../images/cyberpunk-nobg.png" alt="Cyberpunk 2077">
						</div>
						<div class="game-card">
							<div class="image-box">
								<img class="cover-image" src="../../images/Squad.jpg" alt="Squad">
							</div>
							<img class="character" src="../../images/Squad-nobg.png" alt="Squad">
						</div>
					</div>
					<p class="text">
						<span class="highlight">Games</span> help me recover after a great <span
							class="highlight">productive</span> day.
					</p>

				</div>
				<div class="podcast-container hidden right-left">
					<div class="podcast-box">
						<a class="podcast" href="https://open.spotify.com/show/3FVOp5guWNV4b0S9pfuVcw"><img
								src="../../images/AHpodcast.jpg" alt="Andrew Huberman" draggable="false"></a>
						<a class="podcast" href="https://open.spotify.com/show/3FVOp5guWNV4b0S9pfuVcw"><img
								src="../../images/PBDpodcast.jpg" alt="PBD" draggable="false"></a>
					</div>
					<p class="text">
						Listening to <span class="highlight">Podcast</span> gives me extra knowledge to understand more
						about business and also human body
						especially <span class="highlight">Andrew Huberman</span> and <span class="highlight">Patrick
							Bet-David&apos;s</span> podcasts
					</p>
				</div>
			</div>
		</div>
	</section>


	<script src="scripts/component/skill-card.js"></script>
<script src="scripts/animations/About.js" type="module"></script>

	</html>