<%layout("partials/template")%>
    <link rel="stylesheet" href="stylesheets/pages/admin/admin.css">
    <section class="main wrapper">
        <section class="section">
            <h2 class="title">Add New Projects</h2>
            <form class="form newProject" action="/projects" method="POST">
                <label for="projectName">Project Name</label>
                <input class="inputs" type="text" name="name" id="projectName" required>
                <label for="projectDescription">Description</label>
                <textarea name="description" id="projectDescription" required></textarea>
                <label for="projectImage">Image Link</label>
                <input class="inputs" type="text" name="image" id="projectImage" required>
                <label for="projectLink">Project Link</label>
                <input class="inputs" type="text" name="link" id="projectLink" required>
                <button class="btn">Submit</button>
            </form>
        </section>
        <section class="section">
            <h2 class="title">Add New Skill</h2>
            <form class="form newSkill" action="/about" method="POST">
                <label for="skillName">Skill Name</label>
                <input class="inputs" type="text" name="name" id="skillName" required>
                <label for="skillDescription">Description</label>
                <textarea name="description" id="skillDescription" required></textarea>
                <label for="skillPercentage">Progress Percentage</label>
                <input class="inputs" type="number" name="percentage" id="skillPercentage" min="0" max="100"
                    required>
                <button class="btn">Submit</button>
            </form>
        </section>
        <section class="section">
            <h2 class="title">Edit Project</h2>
            <h3>Choose a Project</h3>
            <div class="projectSelection">

            </div>
            <form class="form edit" action="/projects?_method=PUT" method="POST">
                <input type="text" name="_Id" id="projectId" required>
                <label for="editName">Project Name</label>
                <input class="inputs" type="text" name="name" id="editName" required>
                <label for="editDescription">Description</label>
                <textarea name="description" id="editDescription" required></textarea>
                <label for="editImage">Image Link</label>
                <input class="inputs" type="text" name="image" id="editImage" required>
                <label for="editLink">Project Link</label>
                <input class="inputs" type="text" name="link" id="editLink" required>
                <button class="btn">Submit</button>
            </form>
        </section>
        <section class="section">
            <h2 class="title">Edit Skill</h2>
            <form class="form" action="">
            </form>
        </section>

    </section>

    <script src="scripts/component/project-edit.js"></script>