<% layout("partials/template") %>
<link rel="stylesheet" href="stylesheets/pages/contact/contact.css" />

<section class="contactSection wrapper hidden pop-up">
  <img
    class="top-image"
    src="../../images/contactimg.png"
    alt="Planet"
    draggable="false"
  />
  <div class="card">
    <div class="info-form">
      <form action="/contact" method="POST">
        <label for="fullName">Full Name</label>
        <input
          class="inputs"
          type="text"
          name="fullName"
          id="fullName"
          required
        />
        <label for="email">Email</label>
        <input class="inputs" type="email" name="email" id="email" required />
        <label for="message">Message</label>
        <textarea
          class="message"
          name="message"
          id="message"
          required
        ></textarea>
        <button class="btn">Submit</button>
      </form>
    </div>
    <div class="social-media">
      <a href="mailto:@gmail.com"
        ><img src="../../images/Email.png" alt="Email"
      /></a>
      <a href="tel:+"><img src="../../images/Phone.png" alt="Phone" /></a>
      <a href="https://github.com/SergeantMahdi"
        ><img src="../../images/Github.png" alt="Github"
      /></a>
      <a href="https://www.linkedin.com/in/mahdi-sartipzadeh-b6993b29a/"
        ><img src="../../images/Linkedin.png" alt="Linkedin"
      /></a>
      <a href="skype:live:f2bcde30f33fe9e8?chat"
        ><img src="../../images/Skype.png" alt="skype"
      /></a>
      <a href="https://www.instagram.com/sergeant.mahdi/"
        ><img src="../../images/Instagram.png" alt="Instagram"
      /></a>
      <a href="https://t.me/Sgt_mahdi"
        ><img src="../../images/Telegram.png" alt="telegram"
      /></a>
    </div>
  </div>
</section>
