<% layout("partials/template") %>
<link rel="stylesheet" href="stylesheets/pages/error/error.css">
<section class="section">
    <div class="sparks">
    </div>
    <h1 class="title"> <span class="highlight"><%=status%></span>, <%=message%></h1>
</section>

<script src="scripts/animations/sparks.js"></script>