<% layout("partials/template") %>

<link rel="stylesheet" href="stylesheets/pages/login/login.css">
<section class="section">
    <div class="wrapper">
        <h1 class="title">Login</h1>
        <form class="form" action="/login" method="POST">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" autocomplete="off" required>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" autocomplete="off" required>
            <button class="btn">Login</button>
        </form>
    </div>

</section>