<% layout("partials/template") %>
    <link rel="stylesheet" href="stylesheets/global/project-card.css">
    <link rel="stylesheet" href="stylesheets/pages/projects/projects.css">


        <section class="projectSecion">
            <img class="header-image" src="../../images/Contactplanet.png" alt="Galaxy" draggable="false">
            <div class="wrapper hidden left-right ">
                <div class="project-cards">
                </div>
            </div>
        </section>


    <script src="scripts/component/projects.js"></script>
